<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <h1>socket.ioを用いた画像送信サンプル</h1>
    <ul id="messages"></ul>
    <form action="">
      <input type="file" id="image">
      <button id="imgsend">送信</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="js/index.js"></script>
</body>
</html>