<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>index</title>
</head>
<body>
    <h1>画像を送る側</h1>
    <ul id="messages"></ul>
    <form action="">
      <input type="file" accept="image/*" id="image">
      <button id="imgsend">送信</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
       $(function () {
            //socket接続
            const socket = io();

            //画像プレビュー
            const image = $('#image').on('change', function(){
                const fileList = $(this).prop('files');
                const reader = new FileReader();
                reader.readAsDataURL(fileList[0]);
                
                reader.onload = () => {
                    $('<img width="200" class="preview">').attr('src',reader.result).appendTo('body');
                }            
            });
            
            //送信ボタン押下時、画像送信のイベント発火
            $('form').submit(() => {
                const src = $('.preview').attr('src');
                socket.emit('img send', src);
                return false;
            });

            //画像を受信する
            socket.on('img send', (img) => {
                console.log(img)
                $('<img width="200" class="preview">').attr('src',img).appendTo('body');
            });
        });
    </script>

  </body>
</html>